#BACK-END
CarWashBackEnd/MobileCarWashBackEnd/db.sqlite3
__pycache__/
.idea/
*/migrations/*
venv/

#FRONT-END
node_modules
CarWashFrontEnd/car-wash/src/assets/video/quickwash-video.mp4
CarWashBackEnd/MobileCarWashBackEnd/media/services/wax_carwash_B3q8zft.jpg
CarWashBackEnd/MobileCarWashBackEnd/media/services/nano_carwash_KhWG7MK.jpg
CarWashBackEnd/MobileCarWashBackEnd/media/services/engine-wash_FbRyf50.jpg
CarWashBackEnd/MobileCarWashBackEnd/media/services/water_carwash_vUrjNLF.jpg
CarWashBackEnd/MobileCarWashBackEnd/media/services/detailing_carwash_a3btIpo.jpg
CarWashBackEnd/MobileCarWashBackEnd/media/services/ceramic-coating-car_M8gpkk9.jpg
